.s-1{
	background-image: url("https://image.urlaubspiraten.de/720/image/upload/v1603282722/mediavault_images/ihjatwhtozn7ljfgtad7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: darkgreen;
	background-position: center;
	height: 1000px;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	font-size: 42px;
	color: darkgreen;
}

.s2{
	background-color: black;
	padding: 50px, 0;
}

.container{
	width: 1170px;
	margin: 0 auto;
	background-color: white;

}

.line1{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
}

.line2{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	margin-top: 50px;
	margin-left: 50px;
	margin-right: 50px;
	
}

.card{
	width: 320px;
	height: 400px;
	background-color: lightcyan;
}


.card:nth-child(1),.card:nth-child(2),.card:nth-child(3){
	margin-bottom: 50px;
	border-radius: 5px;
	border-color: darkgrey;
	border-style: solid;
	border-width: 5px;


}


.card:nth-child(1){
	background-color: darkcyan;
}


.card:nth-child(2){
	background-color: lightpink;
}

.card:nth-child(3){
	background-color: royalblue;
}

button{
	cursor: pointer;
	margin-left: ;
}

.cookie-regular,.card,h1 {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: normal;
}

